:root {
  // primary
  --uu-color-primary-1: #f0f5ff;
  --uu-color-primary-2: #d6e4ff;
  --uu-color-primary-3: #adc6ff;
  --uu-color-primary-4: #85a5ff;
  --uu-color-primary-5: #597ef7;
  --uu-color-primary-6: #2f54eb;
  --uu-color-primary-7: #1d39c4;
  --uu-color-primary-8: #10239e;
  --uu-color-primary-9: #061178;
  --uu-color-primary-10: #030852;

  // success
  --uu-color-success-1: #f6ffed;
  --uu-color-success-2: #d9f7be;
  --uu-color-success-3: #b7eb8f;
  --uu-color-success-4: #95de64;
  --uu-color-success-5: #73d13d;
  --uu-color-success-6: #52c41a;
  --uu-color-success-7: #389e0d;
  --uu-color-success-8: #237804;
  --uu-color-success-9: #135200;
  --uu-color-success-10: #092b00;

  // warning
  --uu-color-warning-1: #fffbe6;
  --uu-color-warning-2: #fff1b8;
  --uu-color-warning-3: #ffe58f;
  --uu-color-warning-4: #ffd666;
  --uu-color-warning-5: #ffc53d;
  --uu-color-warning-6: #faad14;
  --uu-color-warning-7: #d48806;
  --uu-color-warning-8: #ad6800;
  --uu-color-warning-9: #874d00;
  --uu-color-warning-10: #613400;

  // error
  --uu-color-error-1: #fff1f0;
  --uu-color-error-2: #ffccc7;
  --uu-color-error-3: #ffa39e;
  --uu-color-error-4: #ff7875;
  --uu-color-error-5: #ff4d4f;
  --uu-color-error-6: #f5222d;
  --uu-color-error-7: #cf1322;
  --uu-color-error-8: #a8071a;
  --uu-color-error-9: #820014;
  --uu-color-error-10: #5c0011;
}
