@import "./colors.scss";

:root {
  --color-primary: var(--color-primary-6);
  --color-primary-hover: var(--color-primary-5);
  --color-primary-active: var(--color-primary-7);
  --color-primary-selected: var(--color-primary-1);

  --color-success: var(--color-success-6);
  --color-success-hover: var(--color-success-5);
  --color-success-active: var(--color-success-7);
  --color-success-selected: var(--color-success-1);

  --color-warning: var(--color-warning-6);
  --color-warning-hover: var(--color-warning-5);
  --color-warning-active: var(--color-warning-7);
  --color-warning-selected: var(--color-warning-1);

  --color-error: var(--color-error-5);
  --color-error-hover: var(--color-error-4);
  --color-error-active: var(--color-error-7);
  --color-error-selected: var(--color-error-1);

  // 中性色配置
  --uu-color-base: #000000e0;
  --uu-color-text: #000000e0;
  --uu-color-text-secondary: #000000a6;
  --uu-color-text-disabled: #00000040;
  --uu-color-border: #d9d9d9ff;
  --uu-color-divider: #0505050f;
  --uu-color-bg: #f5f5f5ff;
}
