@import "../../style/index";

.uu-table {
  width: 100%;

  &-header {
    box-sizing: border-box;

    &-cell {
      position: relative;
      text-align: start;
      background-color: #fafafa;

      &:not(:last-child) {
        &::before {
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 1.5em;
        content: "";
        background-color: #f0f0f0;
        transform: translateY(-50%);
      }
      }

      
    }
  }

  &-cell {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
  }
}